*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

html {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: #170629;
    color: #f4e150;
}

body {
    margin: 0;
}

.container {
    background-color: #1d0836;
    padding: 1rem;
    border-radius: 8px;
}
